<h1>SUPPLIERS</h1>

<div class="button">
  <a href="/suppliers/new">add supplier</a>
</div>

<p><table>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Location</th>
    <th>Action</th>
  </tr>

  <% for supplier in @suppliers %>
    <tr>
      <td><%= supplier.supplier_name %></td>
      <td><%= supplier.contact_name %></td>
      <td><%= supplier.location %></td>
      <td><a href="/suppliers/<%= supplier.id %>/edit">Edit</a> |
      <a href="/suppliers/<%= supplier.id %>/edit">Delete</a></td>
    </tr>
  <% end %>

</table>
</p>
