<form action="/products/<%= @product.id %>" method="post">
  <input type="hidden" name="_method" value="put">

<div>

    <div>
      <label for="supplier">Select Supplier: </label><br>
      <select name="supplier_id" id="supplier"><% @supplier.each do |supplier| %>
        <% if supplier.id == @product.supplier_id %>
          <option value=<%= supplier.id %> selected> <%= supplier.supplier_name %> </option>
        <% else %>
          <option value=<%= supplier.id %>> <%= supplier.supplier_name %> </option>
        <% end %>
      <% end %>
      </select>
    </div><br>

    <div>
      <label for="product_name">Name: </label><br>
      <input id="product_name" type="text" name="product_name" value="<%= @product.product_name %>" />
    </div><br>

    <div>
      <label for="description">Description: </label><br>
      <input id="description" type="text" name="description" value="<%= @product.description %>"/>
    </div><br>

    <div>
      <label for="stock">Stock: </label><br>
      <input id="stock" type="integer" name="stock" value="<%= @product.stock %>"/>
    </div><br>

    <div>
      <label for="cost_price">Cost Price: </label><br>
      <input id="cost_price" type="integer" name="cost_price" value="<%= @product.cost_price %>"/>
    </div><br>

    <div>
      <label for="selling_price">Selling Price: </label><br>
      <input id="selling_price" type="integer" name="selling_price" value="<%= @product.selling_price %>" />
    </div><br>

    <div>
      <label for="low_stock_threshold">Low Stock Threshold: </label><br>
      <input id="low_stock_threshold" type="integer" name="low_stock_threshold" value="<%= @product.low_stock_threshold %>"/>
    </div><br>

    <div>
      <label for="delivery_time">Delivery Time: </label><br>
      <input id="delivery_time" type="integer" name="delivery_time" value="<%= @product.delivery_time %>"/>
    </div><br>

    <div>
      <label for="category">Category: </label><br>
      <input id="category" type="integer" name="category" value="<%= @product.category %>"/>
    </div><br>

    <div>
      <input type="submit" value="Edit" />
    </div>

</div>
</form>
