<div class="show">

  <div><table>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td></td>
      <td><h2><%= @product.product_name %></h2></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <td>Category:</td>
      <td><%= @product.category %></td>
    </tr>
    <tr>
      <td>Stock:</td>
      <td><%= @product.stock %></td>
    </tr>
    <tr>
      <td>Selling price: </td>
      <td><%= @product.selling_price %></td>
    </tr>
    <tr>
      <td>Cost price:</td>
      <td><%= @product.cost_price %></td>
    </tr>
    <tr>
      <td>Low stock threshold: </td>
      <td><%= @product.low_stock_threshold %></td>
    </tr>
    <tr>
      <td>Delivery time:</td>
      <td><%= @product.delivery_time %></td>
    </tr>
    <tr>
      <td>Supplier:</td>
      <td><%= @supplier.supplier_name %></td>
    </tr>
  </div>

  <div class="button">
    <a href="/products/<%= @product.id %>/edit">edit product</a>
  </div>

  <div>
    <form class="" action="/products/<%= @product.id %>/delete" method="POST">
      <input class="" type="submit" value="delete product" />
    </form>
  </div>

</div>
