<h1>Edit Customer Details</h1>

<form action="/customers/<%= @customer.id %>" method="post">
  <input type="hidden" name="_method" value="put">

<div>

    <div>
      <label for="first_name">First name: </label><br>
      <input id="first_name" type="text" name="first_name" value="<%= @customer.first_name %>"/>
    </div>

    <div>
      <label for="last_name">Last Name: </label>
      <input id="last_name" type="text" name="last_name" value="<%= @customer.last_name %>"/>
    </div>

    <div>
      <label for="address_1">Address 1: </label>
      <input id="address_1" type="integer" name="address_1" value="<%= @customer.address_1 %>" />
    </div>

    <div>
      <label for="address_2">Address 2: </label>
      <input id="address_2" type="integer" name="address_2" value="<%= @customer.address_2 %>"/>
    </div>

    <div>
      <label for="town_city">Town/city: </label>
      <input id="town_city" type="integer" name="town_city" value="<%= @customer.town_city %>"/>
    </div>

    <div>
      <label for="postcode">Postcode: </label>
      <input id="postcode" type="integer" name="postcode" value="<%= @customer.postcode %>" />
    </div>

    <div>
      <input type="submit" value="add customer" />
    </div>

</div>
</form>
