<h1>CUSTOMERS</h1>

<div class="button">
  <a href="/customers/new">add customer</a>
</div>

<p><table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Town/city</th>
    <th>Postcode</th>
    <th>Action</th>
  </tr>

  <% for customers in @customers %>
    <tr>
      <td><%= customers.first_name %></td>
      <td><%= customers.last_name %></td>
      <td><%= customers.address_1 %></td>
      <td><%= customers.address_2 %></td>
      <td><%= customers.town_city %></td>
      <td><%= customers.postcode %></td>
      <td><a href="/customers/<%= customers.id %>/edit">edit</a> |
        <a href="/customers/<%= customers.id %>/edit">delete</a>
      </td>

    </tr>
  <% end %>

</table>
</p>
